.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: #333;
    font-family: Arial, sans-serif;
    margin-outside: 5px;
    border-radius: 5px;
}

/* Navbar logo */
.navbar .logo {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

/* Navbar links */
.navbar .nav-links {
    display: flex;
    list-style-type: none;
    padding-inline-start: 10px;
}

.navbar .nav-links li {
    margin-left: 2px;
    font-weight: bolder;
}

.navbar .nav-links a {
    color: white;
    text-decoration: none;
    padding: 6px 12px;
}

.navbar .nav-links a:hover {
    background-color: #555;
    color: white;
    border-radius: 3px;
}

/* Searchbar container */
.navbar .searchbar {
    display: flex;
    align-items: center;
    margin-right: 14px;
}

/* Search input */
.navbar .searchbar input[type="text"] {
    padding: 6px 10px;
    border: none;
    background-color: #555;
    color: white;
    font-size: 14px;
    border-radius: 3px;
}

.navbar .searchbar input[type="text"]:focus {
    outline: none;
}

/* Search button */
.navbar .searchbar button[type="submit"] {
    padding: 6px 12px;
    background-color: #555;
    color: white;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 5px;
}

.navbar .searchbar button[type="submit"]:hover {
    background-color: #777;
    color: white;
}