<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <!-- If URL gives a directory but no filename, try index.jsp
         first and index.html second. If neither is found,
         the result is server-specific (e.g., a directory
         listing or a 404 error).
    -->
    <welcome-file-list>
    </welcome-file-list>
</web-app>